In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
ords_prods_merge = pd.read_pickle(r'C:\Users\matth\OneDrive\Documents\Matthew\Coding Class\Career_Foundry Data Science Course\2. Data Immersion\Lesson 4\Python Folder for Lesson 4\02 Data\Prepared Data\4.8_ords_prods_merge.pkl')

In [3]:
path = r'C:\Users\matth\OneDrive\Documents\Matthew\Coding Class\Career_Foundry Data Science Course\2. Data Immersion\Lesson 4\Python Folder for Lesson 4'

In [5]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,...,add_to_cart_order,busiest day,busiest two-day,busiest_period_of_day,spending,spending_flag,frequency,frequency_flag,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.800781,-5730,138,28,6,11,...,5,Regularly busy,Regularly busy,Most Orders,6.937500,Low Spender,8.0,Frequent customer,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.800781,11567,138,30,6,17,...,1,Regularly busy,Regularly busy,Average Orders,6.937500,Low Spender,8.0,Frequent customer,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.800781,-3365,709,2,0,21,...,20,Busiest day,Busiest days,Average Orders,7.929688,Low Spender,8.0,Frequent customer,43,Loyal customer
3,1,Chocolate Sandwich Cookies,61,19,5.800781,-2590,764,1,3,13,...,10,Regularly busy,Least busy days,Most Orders,4.972656,Low Spender,9.0,Frequent customer,20,Regular customer
4,1,Chocolate Sandwich Cookies,61,19,5.800781,-21556,764,3,4,17,...,11,Least busy,Least busy days,Average Orders,4.972656,Low Spender,9.0,Frequent customer,20,Regular customer

In [4]:
ords_prods_merge = ords_prods_merge.astype({col:'int16' for col in ords_prods_merge.select_dtypes('int64').columns})

In [8]:
customers = pd.read_csv(r'C:\Users\matth\OneDrive\Documents\Matthew\Coding Class\Career_Foundry Data Science Course\2. Data Immersion\Lesson 4\Python Folder for Lesson 4\02 Data\Original Data\customers.csv')

In [9]:
customers.rename(columns = {'Surnam' : 'Last Name'}, inplace = True)
customers.rename(columns = {'n_dependants' : 'dependants'}, inplace = True)
customers.rename(columns = {'STATE' : 'State'}, inplace = True)

In [10]:
customers['State'].replace({
        'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}, inplace=True)

In [11]:
customers.drop(columns=['date_joined'], inplace=True)

In [12]:
customers.replace(np.nan, 'NA', regex=True, inplace=True)

In [13]:
customers = customers.astype({col:'int16' for col in customers.select_dtypes('int64').columns})

In [14]:
customers_ords_merge = customers.merge(ords_prods_merge, on = ['user_id'],how = 'left')

In [ ]:
customers_ords_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'customers_ords_merge.pkl'))